#main {
    margin-top: 85px;
    display: flex;

    #aside {
        width: 17%;
        min-height: 100vh;
        border-right: 1px solid var(--bg-dark-border);
        
        padding: 20px;

        button {
            display: block;
            font-size: 16px;
            margin-bottom: 10px;
            transition: all 0.2s;
            padding: 10px 20px;
            border-radius: 30px;

            span:first-child {
                display: inline-block;
                margin-right: 20px;
                vertical-align: -3px;
            }

            &:hover {
                background-color: var(--bg-dark-color) !important;
                transform: translateX(40px) !important;
                
            }
        }
    }
    #constents {
        width: 83%;
        padding: 20px;

        h2 {
            font-family: var(--font-sub);
            margin-bottom: 15px;
            em {
                color: var(--bg-dark-sol);
            }
        }

    }
}

.videos__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    >div {
        width: 24%;
        margin-bottom: 0.6%;
        // height: 400px;
        // background-color: rgb(66, 66, 66);
    }
}

.titleName {
    font-size: 14px;
    word-break: keep-all;
    color: rgb(255, 255, 255);
    display: block;
    margin-bottom: 10px;
}
.channelName {
    display: block;
    font-size: 16px;
    word-break: keep-all;
    color: var(--bg-dark-sol);               
}


.vedioCont {
    margin-top: 85px;
    display: flex;

    .video__play {
        width: 75%;
        // background-color: #fff;
        min-height: 100vh;
        margin-top: 20px;
        margin-left: 30px;
        padding-right: 15px;

        .video-box {
            width: 100%;
            height: 700px;
            background-color: rgb(255, 255, 255);

            position: relative;
            padding-bottom: 27.65%;

            iframe {
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                position: absolute;
            }
        }
        .video-title {
            margin-top: 20px;
            width: 100%;
            text-align: left;
            height: 36px;
            font-size: 20px;
            padding-top: 20px;
            border-top: 1px solid #fff;
        }
    }
    .video__list {
        width: 25%;
        padding-left: 15px;
        // background-color: #888;
        .box {
            width: 100%;
            height: 100vh;
            padding: 30px;
        }
    }

    .videos__inner.colums {
        margin-top: -20px;
        display: flex;
        flex-direction: column;
        padding-right: 30px;

        .box {
            height: 43vh;
            padding: 0;
            margin-top: -50px;

            &:nth-child(1) {
                margin-top: 0;
            }

            .titleName {
                margin-top: -10px;
            }
        }
    }
}


.channel__header {
    height: 445px;
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

}
.channel__info {
    text-align: center;
    img {
        display: block;
        width: 300px;
        margin: 0 auto;
        border-radius: 50%;
        margin-top: -150px;
        border: 6px solid rgb(255, 255, 255);
    }
    h3 {
        text-align: center;
        font-family: var(--font-sub);
        margin-top: 20px;
    }

    .staic-sub {
        display: block;
        margin: 0 auto;
        text-align: center;
        margin-top: 15px;

        > span {
            display: block;
            font-size: 14px;
            margin-bottom: 5px;
            color: rgb(156, 156, 156);
        }
    }

    
}

.channel__videos {
    padding: 30px;
}

.desc-cont {
    .count {
        padding-top: 20px;
        display: flex;
        justify-content: space-between;

        .video-channel {
                
            a {
                font-size: 14px;
                color: var(--bg-dark-color);

            }
        }

        .sides {
            display: flex;
            width: 16%;
            justify-content: space-between;
            font-size: 14px;
            color: rgb(156, 156, 156);
            .like {
                > svg {
                    margin-right: 10px;
                    vertical-align: -3px;
                }   
            }
        }
    }
}



.search__inner {
    margin-top: 85px;
    display: flex;

    #aside {
        width: 17%;
        min-height: 100vh;
        border-right: 1px solid var(--bg-dark-border);
        
        padding: 20px;

        button {
            display: block;
            font-size: 16px;
            margin-bottom: 10px;
            transition: all 0.2s;
            padding: 10px 20px;
            border-radius: 30px;

            span:first-child {
                display: inline-block;
                margin-right: 20px;
                vertical-align: -3px;
            }

            &:hover {
                background-color: var(--bg-dark-color) !important;
                transform: translateX(40px) !important;
                
            }
        }
    }
    .search__cont {
        width: 83%;
        padding: 30px;
    
        .result {
            font-size: 18px;
            >em {
                font-size: 22px;
                margin-right: 10px;
                color: var(--bg-dark-sol);
            }
        }
    
        .sub {}
    }
}   

.loder{
    display: flex;
    // height: 100vh;
    padding-top: 210px;
    justify-content: center;
    align-items: center;
    .loading {
        $colors: #967eff, #a489f0, #5a46b4, #420fba, #370080;
        display: flex;
      
        .dot {
          position: relative;
          width: 1.3em;
          height: 1.3em;
          margin: 0.6em;
          border-radius: 50%;
      
          &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            background: inherit;
            border-radius: inherit;
            animation: wave 2s ease-out infinite;
          }
      
          @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
              background: nth($colors, $i);
      
              &::before {
                animation-delay: $i * 0.2s;
              }
            }
          }
        }
      }
      
      @keyframes wave {
        50%,
        75% {
          transform: scale(2.5);
        }
      
        80%,
        100% {
          opacity: 0;
        }
      }
}