@import './reset.scss';
@import './fonts.scss';
@import './header.scss';
@import './main.scss';

// 변수 설정
:root {
    --white : #fff;
    --black : #000;

    --bg-ligth : #edebf0;
    --bg-ligth-border : #d8d1da;
    --bg-dark : #000;
    --bg-dark-border : #4f29db;
    --bg-dark-sol : #714aff;
    --bg-dark-side : #191919;
    --bg-dark-color : rgb(95 70 252);
    
    --font-size : 16px;
    --font-height : 1.4;
    --font-color: #fff;
    --font-main : "NexonLv1Gothic";
    --font-sub : "Cafe24Dangdanghae";

}

body {
    background-color: var(--bg-dark);
    min-height: 100vh;
}

@media (max-width: 1470px) {
    #main {
        #aside {
            button {
                font-size: 14px;

                span:first-child {
                    display: inline-block;
                    margin-right: 10px;
                    vertical-align: -3px;
                }

                &:hover {
                    background-color: var(--bg-dark-color) !important;
                    transform: translateX(20px) !important;
                    
                }
            }
        }
    }    
}

@media (max-width: 1305px) {
    #main {
        #aside {
            button {
                font-size: 14px;
                padding: 8px 10px;

                span:first-child {
                    display: inline-block;
                    margin-right: 5px;
                    vertical-align: -3px;
                }

                &:hover {
                    background-color: var(--bg-dark-color) !important;
                    transform: translateX(20px) !important;
                    
                }
            }
        }
    }    
}

@media (max-width: 1024px) {
    #main {
        #aside {
            button {
                text-align: left;
                padding: 3px;
                margin-bottom: 10px;

                span:first-child {
                    display: inline-block;
                    margin-right: 5px;
                    vertical-align: -3px;
                }

                &:hover {
                    background-color: var(--bg-dark-color) !important;
                    transform: translateX(20px) !important;
                    
                }
            }
        }
    }    
}